*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--accent-font-family), sans-serif;
  font-variation-settings: var(--main-weight-card);
  font-size: var(--main-title-fs);
}


a {
  color: inherit;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}

img {
  object-fit: cover;
}

button {
  border: none;
  font-family: var(--accent-font-family), sans-serif;
  font-variation-settings: 'wdth' var(--main-weight-card);
  background-color: transparent;
  cursor: pointer;
}


ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
